<a href="https://colab.research.google.com/github/Ameena1BM23CS27/6thSem-ML-Lab/blob/main/multiple_lr_housingprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("hiring.csv")

In [3]:
df['experience'] = df['experience'].replace({
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9,
    'ten': 10,
    'eleven': 11,
    'twelve': 12
})

/tmp/ipython-input-2004378675.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['experience'] = df['experience'].replace({

In [4]:
df['experience'] = df['experience'].fillna(0)
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean())
df['interview_score(out of 10)'] = df['interview_score(out of 10)'].fillna(df['interview_score(out of 10)'].mean())

In [5]:
X = df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']].values
y = df['salary($)'].values

In [6]:
ones = np.ones((X.shape[0], 1))
X = np.hstack((ones, X))

In [7]:
y = y.reshape(-1, 1)

In [8]:
beta = np.linalg.inv(X.T @ X) @ X.T @ y

In [9]:

print("Coefficients (including intercept):")
print(beta)

Coefficients (including intercept):
[[17237.33031373]
 [ 2827.63404314]
 [ 1912.93803053]
 [ 2196.9753141 ]]

In [10]:
candidate1 = np.array([1, 2, 9, 6])   # 1 for intercept
candidate2 = np.array([1, 12, 10, 10])

salary1 = candidate1 @ beta
salary2 = candidate2 @ beta

print("\nSalary for 2yr exp, 9 test score, 6 interview score:", salary1[0])
print("Salary for 12yr exp, 10 test score, 10 interview score:", salary2[0])

Salary for 2yr exp, 9 test score, 6 interview score: 53290.8925594487
Salary for 12yr exp, 10 test score, 10 interview score: 92268.07227783656

In [11]:


data = [
    [0, 8, 9, 50000],
    [0, 8, 6, 45000],
    [5, 6, 7, 60000],
    [2, 10, 10, 65000],
    [7, 9, 6, 70000],
    [3, 7, 10, 62000],
    [10, 7, 7, 72000],
    [11, 9, 8, 80000]
]


X = []
Y = []

for row in data:
    X.append([1, row[0], row[1], row[2]])  # 1 for intercept
    Y.append([row[3]])


def transpose(matrix):
    return list(map(list, zip(*matrix)))

def matrix_multiply(A, B):
    result = [[0 for _ in range(len(B[0]))] for _ in range(len(A))]
    for i in range(len(A)):
        for j in range(len(B[0])):
            for k in range(len(B)):
                result[i][j] += A[i][k] * B[k][j]
    return result

def matrix_inverse_4x4(m):

    n = 4
    identity = [[float(i == j) for i in range(n)] for j in range(n)]

    for i in range(n):
        pivot = m[i][i]
        for j in range(n):
            m[i][j] /= pivot
            identity[i][j] /= pivot

        for k in range(n):
            if k != i:
                factor = m[k][i]
                for j in range(n):
                    m[k][j] -= factor * m[i][j]
                    identity[k][j] -= factor * identity[i][j]

    return identity

XT = transpose(X)
XTX = matrix_multiply(XT, X)
XTX_inv = matrix_inverse_4x4(XTX)
XTY = matrix_multiply(XT, Y)

beta = matrix_multiply(XTX_inv, XTY)

print("Coefficients (Intercept, Exp, Test, Interview):")
for b in beta:
    print(b[0])


candidate1 = [[1, 2, 9, 6]]
candidate2 = [[1, 12, 10, 10]]

salary1 = matrix_multiply(candidate1, beta)
salary2 = matrix_multiply(candidate2, beta)

print("\nPredicted Salary 1:", salary1[0][0])
print("Predicted Salary 2:", salary2[0][0])

Coefficients (Intercept, Exp, Test, Interview):
19430.811921789544
2684.3939296857025
1892.690091626464
1990.7042767227686

Predicted Salary 1: 53778.036266135736
Predicted Salary 2: 90477.4827615103